* {
	padding: 0px;
	margin: 0px;

}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

html, body {
}

body {
	font-size: 14px;
	color: #ccc;
	font-family: 'Helvetica-Neue';
	background-image: linear-gradient(to bottom, #ffffff, #fff, rgba(194, 223, 255, 0.2), rgba(194, 223, 255, 0.2), rgba(194, 223, 255, 0.2));
}

// font-family: 'Roboto', sans-serif;

img {
	max-width: 100%;
}

@font-face {
	font-family: 'Helvetica-Neue';
	src: url(../fonts/HELVETICA-NEUE.TTF);
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
}

input:focus, textarea:focus, select:focus {
	outline: none;
}

button:focus {
	outline: none !important;
}

a, a:hover {
	text-decoration: none;
}

ul {
	margin: 0;
}

li, ol {
	list-style: none;
}

.container {
	max-width: 1200px;
}

.no-pad {
	padding: 0;
}

section {
	overflow-y: hidden;
}
header.is-sticky {
    position: fixed;
    top: 0;
    background: #0e1821;
    height: 70px;
        z-index: 999999;
    box-shadow: 0 0 24px rgba(221,221,221,0.2);
}
header {
	height: 120px;
	display: flex;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9999;
	 -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;

	.logo-sec {
		a {
			display: table;
			max-width: 133px;
		}

	}

	ul {
		font-size: 0;

		li {
			display: inline-block;
			margin-left: 20px;

			a {
				font-size: 14px;
				font-weight: bold;
				font-stretch: normal;
				font-style: normal;
				line-height: normal;
				letter-spacing: normal;
				color: #849fb7;
				font-family: 'Roboto', sans-serif;
				line-height: 37px;
			    display: table;
			    width: 100%;
				-webkit-transition: all 0.5s ease-in-out;
				-moz-transition: all 0.5s ease-in-out;
				-o-transition: all 0.5s ease-in-out;
				transition: all 0.5s ease-in-out;

				&:hover {
					color: #fff;
				}

			}
			a.active{
				    border-bottom: 2px solid #ee1c50;
				    color: #fff;
			}

		}

	}

}

section.banner-part {
	background-color: #0e1821;
	padding: 135px 0 80px;
	background-image: url(../images/path1.png);
	background-repeat: no-repeat;
	background-position: bottom;
	left: 0;
	background-size: 100%;

	h2 {
		max-width: 560px;
		font-size: 64px;
		font-weight: bold;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: normal;
		color: #ffffff;
	}

	p {
		max-width: 400px;
		font-size: 20px;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: normal;
		color: #849fb7;
		margin: 25px 0 54px;
	}

	a {
		display: inline-block;
		width: auto;
		height: 56px;
		border-radius: 28px;
		text-align: center;
		font-size: 14px;
		font-weight: bold;
		font-stretch: normal;
		font-style: normal;
		line-height: 56px;
		letter-spacing: normal;
		color: #ffffff;
		font-family: 'Roboto', sans-serif;
		padding-left: 25px;
		-webkit-transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s ease-in-out;
		-o-transition: all 0.5s ease-in-out;
		transition: all 0.5s ease-in-out;

		img {
			float: right;
		}

	}

	a.deck-but {
		background: #ee1c50;

		&:hover {
			box-shadow: 0 4px 20px 0 rgba(238, 28, 80, 0.5);
		}

	}

	a.paper-but {
		border: solid 1px #849fb7;
		margin-left: 15px;

		&:hover {
			box-shadow: 0 50px 400px 20px rgba(0, 0, 0, 0.05);
			background-color: #ffffff;
			color: #000;

			img {
				filter: brightness(1000) invert(100);
			}

		}

	}

}

section.body-cont1 {
	padding: 70px 0;
	 img {
    opacity: 0.4;
        height: 34px;
    object-fit: contain;
}
}

section.body-cont2 {
	padding: 100px 0 200px;
	// background: url(../images/home-img9.png);
	// background-repeat: no-repeat;
	// background-position: top right;
	margin: 100px 0 0;
	position: relative;

	img.bg1-img {
		position: absolute;
		top: 0;
		right: 0;
	}
.mob-img {
    display: none;
}
	h5 {
		position: relative;
		font-size: 14px;
		font-weight: bold;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: normal;
		color: #ee1c50;
		padding-left: 27px;
		max-width: 111px;
    margin: 0 auto;

		&:before {
			content: "";
			width: 15px;
			height: 2px;
			background: #ee1c50;
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			margin: auto;
		}

	}

	h2 {
		font-size: 40px;
		font-weight: bold;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: normal;
		color: #000000;
		margin: 13px 0 24px;
	}

	p {
		font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #849fb7;
    margin: 0px auto 40px;
    max-width: 640px;
	}

	.sec1 {
		border-radius: 5px;
		box-shadow: 0 50px 400px 20px rgba(0, 0, 0, 0.05);
		background-color: #ffffff;
		padding: 15px;
		display: table;
		width: 100%;
		margin: 0 0 20px;
		max-width: 440px;

		.img-sec {
			width: 56px;
			height: 56px;
			background: rgba(238, 28, 80, 0.1);
			text-align: center;
			border-radius: 6px;
			float: left;

			i.fa.fa-play {
				color: #ee1c50;
				font-size: 30px;
				line-height: 56px;
			}

		}

		.decp {
			width: calc(100% - 56px);
			padding-left: 21px;
			float: right;

			h3 {
				font-size: 16px;
				font-weight: bold;
				font-stretch: normal;
				font-style: normal;
				line-height: normal;
				letter-spacing: normal;
				color: #000000;
			}

			h4 {
				font-size: 16px;
				font-weight: normal;
				font-stretch: normal;
				font-style: normal;
				line-height: normal;
				letter-spacing: normal;
				color: #849fb7;
				font-family: 'Roboto', sans-serif;
			}
			h4.mob-sec {
    display: none;
}

		}

	}

	a {
		display: inline-block;
		height: 56px;
		border-radius: 28px;
		font-size: 14px;
		font-weight: bold;
		font-stretch: normal;
		font-style: normal;
		line-height: 56px;
		letter-spacing: normal;
		color: #000000;
		font-family: 'Roboto', sans-serif;
		padding-left: 25px;
		margin: 40px 0 0;
		-webkit-transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s ease-in-out;
		-o-transition: all 0.5s ease-in-out;
		transition: all 0.5s ease-in-out;

		img {
			float: right;
		}

	}

	a.paper-but {
		background: #ee1c50;
		text-align: center;
		color: #fff;

		&:hover {
			box-shadow: 0 4px 20px 0 rgba(238, 28, 80, 0.5);
		}

	}

	a.roadmap-but {
		border: solid 1px #849fb7;
		margin-left: 15px;

		&:hover {
			box-shadow: 0 50px 400px 20px rgba(0, 0, 0, 0.05);
			background-color: #ffffff;
			color: #000;
			border: solid 1px #fff;
		}

	}

}

section.body-cont3 {
	clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
	background-color: #0e1821;
	padding: 200px 0;
	position: relative;

	.sec1 {
		max-width: 280px;
		height: 127px;
		border-radius: 5px;
		box-shadow: 0 50px 400px 20px rgba(0, 0, 0, 0.05);
		background-color: #192029;
		padding: 15px;
		margin-bottom: 40px;

		.img-wrap {
			float: left;
		}

		.decp {
			width: calc(100% - 40px);
			float: right;
			padding-left: 15px;

			h3 {
				font-size: 16px;
				font-weight: bold;
				font-stretch: normal;
				font-style: normal;
				line-height: normal;
				letter-spacing: normal;
				color: #ffffff;
			}

			p {
				font-size: 14px;
				font-weight: normal;
				font-stretch: normal;
				font-style: normal;
				line-height: normal;
				letter-spacing: normal;
				color: #849fb7;
			}

		}

	}

	.why-us {
		position: unset;
	}

	.sec2 {
		position: absolute;
		left: 0;
		right: 0;
		margin: auto;
		max-width: 664px;
		top: 0;
		bottom: 0;
		display: flex;
		    align-items: center;

		img {
			max-width: unset;
			margin: 0 auto;
			display: table;
		}

		.decp2 {
			position: absolute;
			top: 0;
			left: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100%;
			flex-direction: column;
			text-align: center;
			width: 100%;

			h5 {
				font-size: 14px;
				font-weight: bold;
				font-stretch: normal;
				font-style: normal;
				line-height: normal;
				color: #ee1c50;
				letter-spacing: 5px;
				margin: 0 0 37px;
			}

		}

	}

	.sec1.move-left {
		// transform: translatex(-120px) !important;
		margin-left: -120px;
	}

	.sec1.move-right {
		// transform: translatex(120px) !important;
		margin-right: -120px;
	}

	.sec-right {
		.sec1 {
			float: right;
			clear: both;
		}

	}

}

section.body-cont4 {
	padding: 100px 0;

	h2 {
		color: #000000;
		font-size: 40px;
		font-weight: 700;
	}

	p {
		max-width: 480px;
		color: #849fb7;
		font-size: 18px;
		margin: 18px auto 40px;
	}

	ul {
		display: flex;
		align-items: center;
		justify-content: center;

		li {
			box-shadow: 0 50px 400px 20px rgba(0, 0, 0, 0.05);
			border-radius: 5px;
			background-color: #ffffff;
			margin: 0 10px;
			padding: 15px;
			text-align: left;
			display: flex;
			align-items: center;

			img {
				margin-right: 15px;
			}

			h4 {
				color: #849fb7;
				font-size: 12px;
				font-weight: 700;
				text-transform: uppercase;
				font-family: 'Roboto', sans-serif;
				margin: 0;
			}

			h3 {
				color: #ee1c50;
				font-size: 24px;
				font-weight: 700;
				margin: 0;

				span {
					font-size: 16px;
				}

			}

		}

	}

	.Token-decp-mobile {
		display: none;
	}

	.Token-decp, .Token-decp-mobile {
		h5 {
			font-size: 28px;
			font-weight: bold;
			font-stretch: normal;
			font-style: normal;
			line-height: normal;
			letter-spacing: normal;
			color: #000000;
			text-align: center;
			margin: 35px 0 50px;
		}

		.decp {
			display: inline-block;
			float: left;
			margin-right: 12px;
			margin-bottom: 16px;
			padding-left: 12px;

			h3 {
				font-size: 12px;
				font-weight: bold;
				font-stretch: normal;
				font-style: normal;
				line-height: normal;
				letter-spacing: normal;
				color: #849fb7;
				margin: 0 0 3px;
				max-width: 158px;
				font-family: 'Roboto', sans-serif;
				text-transform: uppercase;

				span {
					display: table;
					width: 12px;
					height: 12px;
					background: #ee1c50;
					border-radius: 50%;
					position: absolute;
					left: -12px;
					top: 0;
				}

			}

			p {
				font-size: 12px;
				font-weight: normal;
				font-stretch: normal;
				font-style: normal;
				line-height: normal;
				letter-spacing: normal;
				color: #939393;
				margin: 0;
				max-width: 134px;
				font-family: 'Roboto', sans-serif;
			}

		}

		h4 {
			font-size: 20px;
			font-weight: bold;
			font-stretch: normal;
			font-style: normal;
			line-height: normal;
			letter-spacing: normal;
			color: #000000;
			display: inline-block;
			margin: -3px 0 0;
			float: left;
		}

		.sec1 {
			display: table;
			width: 100%;
			position: relative;

			span.color2 {
				background-color: #2974ba;
			}

			span.color3 {
				background-color: #b762fc;
			}

			span.color4 {
				background-color: #6a86ff;
			}

			span.color5 {
				background-color: #ee7c1c;
			}

			span.color6 {
				background-color: #ee1c50;
			}

			span.color7 {
				background-color: #ee1c50;
			}

		}

	}

	.flex-wrapper {
		position: relative;
		max-width: 430px;
		height: 430px;
		margin: 60px auto 0;

		.single-chart {
			width: 100%;
			justify-content: space-around;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
		}

		.circle2 {
			fill: none;
		}

		.single-chart.shape-2 {
			width: 80% !important;

			.circle-bg {
				stroke-width: 1;
			}

			.circle {
				stroke-width: 1;
			}

		}

		.single-chart.shape-3 {
			width: 60% !important;

			.circle-bg {
				stroke-width: 1.3;
			}

			.circle {
				stroke-width: 1.3;
			}

		}

		.single-chart.shape-4 {
			width: 40% !important;

			.circle-bg {
				stroke-width: 1.7;
			}

			.circle {
				stroke-width: 1.7;
			}

		}

		.single-chart.shape-5 {
			width: 20% !important;

			.circle-bg {
				stroke-width: 3;
			}

			.circle {
				stroke-width: 3;
			}

		}

		.circular-chart {
			display: block;
			max-width: 100%;
			max-height: initial;
			height: 100%;
		}

		.circle-bg {
			fill: none;
			stroke: #cbd7e3;
			stroke-width: 0.8;
		}

		.circle {
			fill: none;
			stroke-width: 0.8;
			stroke-linecap: round;
			animation: progress 1s ease-out forwards;
		}

		@keyframes progress {
			0% {
				stroke-dasharray: 0 100;
			}

		}

		.circular-chart.color-1 .circle {
			stroke: #ee7c1c;
		}

		.circular-chart.color-2 .circle {
			stroke: #6a86ff;
		}

		.circular-chart.color-3 .circle {
			stroke: #b762fc;
		}

		.circular-chart.color-4 .circle {
			stroke: #2974ba;
		}

		.circular-chart.color-5 .circle {
			stroke: #ee1c50;
		}

		.percentage {
			fill: #666;
			font-family: sans-serif;
			font-size: 0.5em;
			text-anchor: middle;
		}

	}

}

section.body-cont5 {
	padding: 80px 0;
	overflow: hidden;
	// background: url(../images/team-bg.png);
	// background-repeat: no-repeat;
	// background-position: left top;
	margin: 80px 0;
	background-size: contain;
	position: relative;

	img.bg-2 {
		position: absolute;
		left: 0;
		top: 0;
	}

	.container-fluid {
		padding: 0;
	}
	.mob-sec {
    display: none;
}
	h2 {
		color: #000000;
		font-size: 32px;
		font-weight: bold;
		margin: 0 0 35px;
    text-align: center;
	}

	ul.teams1{
		    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 15px;
    align-items: center;
    justify-content: center;


		li{
			.wrap {
				box-shadow: 0 0 24px rgba(0, 0, 0, 0.05);
				border-radius: 5px;
				background-color: #ffffff;
				padding: 25px;

    min-height: 390px;
    display: flex;
    flex-direction: column;
.row {
    margin-top: auto;
}
			}

			img {
				display: block;
				width: auto;
				border-radius: 50%;
				margin: 0 auto 25px;
			}

			h3 {
				color: #000000;
				font-size: 20px;
				font-weight: bold;
				max-width: 100px;
			}

			p {
				color: #ee1c50;
				font-size: 14px;
				margin: 0;
			}

			a {
				width: 44px;
				height: 44px;
				border-radius: 3px;
				background-color: #0077b5;
				display: table;
				text-align: center;
				line-height: 44px;
				color: #fff;
				font-size: 19px;
			}
		}
	}
	.teams {
		position: relative;

		&:after {
			content: "";
			width: 24%;
			height: 100%;
			background-image: linear-gradient(to right, rgba(234, 244, 255, 0.85) 0, #eaf4ff 100%);
			position: absolute;
			top: 0;
			right: 0;
		}

		.item {
			.wrap {
				box-shadow: 0 0 24px rgba(0, 0, 0, 0.05);
				border-radius: 5px;
				background-color: #ffffff;
				padding: 25px;
			}

			img {
				display: block;
				width: auto;
				border-radius: 50%;
				margin: 0 auto 25px;
			}

			h3 {
				color: #000000;
				font-size: 20px;
				font-weight: bold;
				max-width: 100px;
			}

			p {
				color: #ee1c50;
				font-size: 14px;
				margin: 0;
			}

			a {
				width: 44px;
				height: 44px;
				border-radius: 3px;
				background-color: #0077b5;
				display: table;
				text-align: center;
				line-height: 44px;
				color: #fff;
				font-size: 19px;
			}

		}

		.owl-nav {
			position: absolute;
			top: -80px;
			right: 177px;

			button.owl-prev {
				margin-right: 25px;

				span {
					width: 56px;
					height: 56px;
					box-shadow: 0 50px 400px 20px rgba(0, 0, 0, 0.05);
					border-radius: 32px;
					background-color: #fff !important;
					display: table;
					background: url(../images/left-arrow.svg);
					background-repeat: no-repeat;
					background-position: center;
					color: transparent;
				}

			}

			button.owl-next {
				span {
					width: 56px;
					height: 56px;
					box-shadow: 0 50px 400px 20px rgba(0, 0, 0, 0.05);
					border-radius: 32px;
					background-color: #fff !important;
					display: table;
					background: url(../images/right-arrow.svg);
					background-repeat: no-repeat;
					background-position: center;
					color: transparent;
				}

			}

		}

	}

}

section.body-cont6 {
	padding: 100px 0;

	h2 {
		color: #000000;
		font-size: 40px;
		font-weight: 700;
		margin: 0 0 50px;
	}

	p {
		max-width: 480px;
		color: #849fb7;
		font-size: 18px;
		margin: 18px auto 40px;
	}

	ul {
		.wrap{
			    min-height: 95px;
			overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;

    a {
    font-size: 14px;
    color: #ee1c50;
    text-decoration: underline;
    position: absolute;
    bottom:10px;
}
		}
		li{
    	padding-bottom: 30px !important
    }
		
		li.old {
			&:after {
				border: 4px solid  #ee1c50 !important;
			}

		}

		li.current {
			&:before {
				    content: "";
    width: 36px;
    height: 36px;
    position: absolute;
    border: 2px solid #ee1c50;
    border-radius: 50%;
    left: 0;
    right: 0;
    margin: auto;
    top: -50px;
    background: none;
			}

			&:after {
				border: 4px solid  #ee1c50 !important;
			}

		}

	}

	ul.sec {
		text-align: left;
		padding-bottom: 30px;
		border-bottom: 2px solid #d6e5f4;

		li {
			display: inline-block;
			max-width: 200px;
			box-shadow: 0 0px 13px rgba(0, 0, 0, 0.05);
			border-radius: 5px;
			background-color: #ffffff;
			text-align: left;
			padding: 20px;
			position: relative;
			margin-left: 48px;

			&:after {
				content: "";
				width: 20px;
				height: 20px;
				position: absolute;
				border: 4px solid #8c959e;
				border-radius: 50%;
				left: 0;
				right: 0;
				margin: auto;
				bottom: -42px;
				background: #f3f9ff;
				box-shadow: 0 0 0 4px #f3f9ff;
			}

			h4 {
				color: #000000;
				font-size: 16px;
				font-weight: 700;
				text-transform: uppercase;
			}

			p {
				color: #849fb7;
				font-size: 14px;
				margin: 0;
			}

		}

	}

	ul.sec2 {
		text-align: right;
		padding-top: 30px;
		border-top: 2px solid #d6e5f4;

		li {
			display: inline-block;
			max-width: 200px;
			box-shadow: 0 0px 13px rgba(0, 0, 0, 0.05);
			border-radius: 5px;
			background-color: #ffffff;
			text-align: left;
			padding: 20px;
			position: relative;
			margin-right: 55px;

			&:after {
				content: "";
				width: 20px;
				height: 20px;
				position: absolute;
				border: 4px solid #8c959e;
				border-radius: 50%;
				left: 0;
				right: 0;
				margin: auto;
				top: -42px;
				background: #f3f9ff;
				box-shadow: 0 0 0 4px #f3f9ff;
			}

			h4 {
				color: #000000;
				font-size: 16px;
				font-weight: 700;
				text-transform: uppercase;
			}

			p {
				color: #849fb7;
				font-size: 14px;
				margin: 0;
			}

		}

	}

	ul.mobile-sec {
		display: none;
		position: relative;
		padding-left: 15px;
		max-width: 254px;
		    margin: 0 auto;

		&:before {
			content: "";
			width: 2px;
			height: 88%;
			position: absolute;
			left: 0;
			top: 0;
			background-color: #d6e5f4;
			bottom: 0;
			margin: auto;
		}

		li {
			    display: inline-block;
    max-width: 208px;
    border-radius: 5px;
    background-color: #ffffff;
    text-align: left;
    padding: 25px;
    margin-right: 0;
    margin-bottom: 18px;
    position: relative;
    box-shadow: 0 50px 400px 20px rgba(0, 0, 0, 0.05);

			&:after {
				content: "";
				width: 20px;
				height: 20px;
				position: absolute;
				border: 4px solid #8c959e;
				border-radius: 50%;
				left: -40px;
				margin: auto;
				top: 0;
				background: #fff;
				bottom: 0;
			}

			h4 {
				color: #000000;
				font-size: 16px;
				font-weight: 700;
				text-transform: uppercase;
			}

			p {
				color: #849fb7;
				font-size: 14px;
				margin: 0;
				    line-height: 17px;
			}

		}

		li.current:before {
			left: -48px;
			right: unset;
			margin: auto;
			top: 0;
			bottom: 0;
		}

	}

}

section.body-cont7 {
	padding: 20px 0 180px;
	margin: 90px 0 0;
	// background-image: url(../images/home-img25.png);
	// background-repeat: no-repeat;
	position: relative;

	img.bg-3 {
		position: absolute;
		top: 0;
		left: 0;
	}

	h2 {
		color: #000000;
		font-size: 40px;
		font-weight: 700;
		margin: 0 0 58px;
	}

	.wrap {
		box-shadow: 0 50px 400px 20px rgba(0, 0, 0, 0.05);
		border-radius: 5px;
		background-color: #ffffff;
		padding: 15px 20px;
		margin: 0 0 15px;
	}

	.accordion-toggle {
		cursor: pointer;
		margin: 0;
		padding: 10px 0;
		position: relative;
		color: #000000;
		font-size: 16px;
		font-weight: 700;
	}

	.accordion-toggle.active:after {
		// content: "";
		// position: absolute;
		// right: 0;
		// top: 17px;
		// width: 0;
		// height: 0;
		// border-bottom: 5px solid #f00;
		// border-left: 5px solid rgba(0, 0, 0, 0);
		// border-right: 5px solid rgba(0, 0, 0, 0);
	}

	.accordion-toggle:before {
		// content: "";
		// position: absolute;
		// right: 0;
		// top: 17px;
		// width: 0;
		// height: 0;
		// border-top: 5px solid #000;
		// border-left: 5px solid rgba(0, 0, 0, 0);
		// border-right: 5px solid rgba(0, 0, 0, 0);
	}

	.accordion-toggle.active:before {
		display: none;
	}

	.accordion-content {
		display: none;

		p {
			color: #849fb7;
			font-size: 14px;
			margin: 10px 0 6px;
		}

	}

}

section.body-cont8 {
	padding: 100px 0;
	position: relative;
	z-index: 99999;

	h2 {
		color: #000000;
		font-size: 40px;
		font-weight: bold;
		margin: 0 0 55px;
		line-height: 56px;

		a {
			display: inline-block;
			float: right;
			color: #000000;
			font-size: 14px;
			font-weight: 700;
			text-transform: uppercase;
			border-radius: 28px;
			border: 1px solid #849fb7;
			width: 186px;
			height: 57px;
			text-align: center;
			line-height: 56px;
			-webkit-transition: all 0.5s ease-in-out;
			-moz-transition: all 0.5s ease-in-out;
			-o-transition: all 0.5s ease-in-out;
			transition: all 0.5s ease-in-out;

			&:hover {
				box-shadow: 0 50px 400px 20px rgba(0, 0, 0, 0.05);
				background-color: #ffffff;
				color: #000;
				border: 1px solid #fff;
			}

			img {
				margin-left: 15px;
			}

		}

	}

	.wrap {
		width: 100%;
		box-shadow: 0 50px 400px 20px rgba(0, 0, 0, 0.05);
		border-radius: 10px;
		background-color: #ffffff;
		padding: 20px;

		img {
			width: 100%;
			margin: 0 0 18px;
			border-radius: 15px;
		}

		h3 {
			color: #000000;
			font-size: 16px;
			font-weight: 700;
		}

		p {
			color: #849fb7;
			font-size: 14px;
			margin: 20px 0;
		}

		a {
			color: #ff004b;
			font-size: 14px;
			font-weight: 700;
			text-decoration: underline;
			text-transform: uppercase;
		}

	}

}

section.body-cont9 {
	position: relative;
	z-index: 99999;

	h5 {
		position: relative;
		font-size: 14px;
		font-weight: bold;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: normal;
		color: #ee1c50;
		padding-left: 27px;

		&:before {
			content: "";
			width: 15px;
			height: 2px;
			background: #ee1c50;
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			margin: auto;
		}

	}

	h2 {
		font-size: 40px;
		font-weight: bold;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: normal;
		color: #fff;
		margin: 17px 0;
	}

	form {
		position: relative;

		input[type="text"] {
			width: 100%;
			height: 71px;
			background: rgba(255, 255, 255, 0.1);
			border: none;
			padding: 0 25px;
			color: #fff;
			font-size: 18px;
			font-weight: 400;
			border-radius: 50px;
		}

		input.for-mob {
    display: none;
}

		input[type="submit"] {
			top: 0;
			right: 0;
			position: absolute;
			height: 100%;
			width: 72px;
			box-shadow: 0 4px 20px rgba(238, 28, 80, 0.5);
			border-radius: 36px;
			background-color: #ee1c50;
			border: none;
			background-image: url(../images/home-img27.svg);
			background-repeat: no-repeat;
			background-position: center;
		}

		::-webkit-input-placeholder {

			/* Edge */
			color: #849fb7;
			opacity: 0.5
		}

		:-ms-input-placeholder {

			/* Internet Explorer 10-11 */
			color: #849fb7;
			opacity: 0.5
		}

		::placeholder {
			color: #849fb7;
			opacity: 0.5
		}

	}

	p {
		color: #849fb7;
		font-size: 14px;
		margin: 20px 0 0;
	}

}

footer {
	position: relative;
	padding: 75px 0 68px;

	hr {
		display: table;
		width: 100%;
		border-top: 1px solid #262f37;
		margin: 0 0 75px
	}

	a.footer-logo {
		display: table;
		max-width: 134px;
	}

	ul {
		li {
			a {
				display: table;
				width: 100%;
				color: #849fb7;
				font-size: 14px;
				margin: 0 0 10px;
				font-family: 'Roboto', sans-serif;
				-webkit-transition: all 0.5s ease-in-out;
				-moz-transition: all 0.5s ease-in-out;
				-o-transition: all 0.5s ease-in-out;
				transition: all 0.5s ease-in-out;

				&:hover {
					color: #fff;
				}

			}

		}

	}

	h5 {
		color: #ffffff;
		font-size: 14px;
		text-decoration: underline;
		margin: 0 0 15px;

		img {
			margin-right: 8px;
		}

	}

	ul.social {
		display: flex;
		align-items: center;
		justify-content: flex-end;

		li {
			margin-left: 18px;

			a {
				width: 44px;
				height: 44px;
				background: rgba(255, 255, 255, 0.1);
				color: #849fb7;
				font-size: 20px;
				text-align: center;
				line-height: 44px;
				border-radius: 5px;
				display: table;
				-webkit-transition: all 0.5s ease-in-out;
				-moz-transition: all 0.5s ease-in-out;
				-o-transition: all 0.5s ease-in-out;
				transition: all 0.5s ease-in-out;

				&:hover {
					color: #fff;
				}

			}

		}

	}

	p {
		color: #849fb7;
		font-size: 14px;
		margin: 15px 0 0;
	}

}

img.footer-bg {
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: -999;
}

.blog-mobile {
	display: none;
}
